h1{
    text-align: center;
    margin: 12px 0px;
}
.myForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.myInput{
    outline: none;
    width: 40%;
    font-size: 16px;
    padding: 9px;
    margin: 15px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 77vh;
}
.btn{
    cursor: pointer;
    font-size: 20px;
    padding: 10px 40px;
    margin: 10px 10px;
    background-color: #24453d;
    border-radius: 10px;
    color: antiquewhite;
    outline: none;
}